#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: url(../../Weights.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#home-logo {
  max-height: 600px;
  width: 600px;
}

.home-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container h4 {
 position: relative;
 top: -40px;
}

.header {
  position: fixed;
  height:80px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(226, 220, 212);
  padding: 10px 20px; /* Adjust padding as needed */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 100%; /* Ensure the logo container takes full height of the header */
  display: flex;
  align-items: center; /* Center the logo vertically */
}

.logo {
  margin: 0; /* Remove any default margin */
}

nav {
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color:rgb(226, 220, 212);
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: white;
} 