#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background: url(../../Weights.jpg) no-repeat center center fixed;
  background-size: cover; */
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#home-logo {
  max-height: 600px;
  width: 600px;
}

.home-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px; /* Adjust width as needed */
  background-color: black;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: underline;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust as needed */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}

.column {
  padding: 20px;
}

.header {
  position: fixed;
  height:80px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(226, 220, 212);
  padding: 10px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo-container {
  height: 100%; 
  display: flex;
  align-items: center; 
}

.logo {
  margin: 0; 
}

nav {
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color:rgb(226, 220, 212);
  padding: 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.card {
  padding: 2em;
}

.card-background{
  background-color: rgb(16, 23, 26);
  border-radius: 10px;
}


.read-the-docs {
  color: white;
} 