.thought-form-container {
    max-width: 500px; /* Make the container smaller */
    margin: 0 auto; /* Center the container */
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #007bff; /* Add glow to frame */
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(0, 31, 63, 0.9); /* Dark blue background with opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-count {
    margin: 0;
  }
  
  .text-danger {
    color: red;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .thought-form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    margin: 0 auto; /* Center the button */
    display: block; /* Ensure button takes full width */
    box-shadow: 0 0 10px 2px #007bff; /* Add glow to button */
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  